$boardSize: 637px;

$font-sizes: 8, 12, 14, 18, 24;
$font-weights: 400, 700;
$line-heights: 10, 15, 17, 22, 29;
$font-families: 'Inter', 'Public-Sans', 'Work Sans';
$text-align-options: left, right, center;